body{
	background-color: #f1f1f1;
	margin: auto;
	width: 90%;
	background-image: url(../image/logo.png) ;
	background-size: 90% 280px;
	background-position: center top;
	background-repeat: no-repeat;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

/* Menu */


/* Barre */
#annonce{
	background-color: rgba(0,0,0,0.7);
	margin-top: 10px;
	border:2px solid rgba(255,255,255,0.7);
	padding:10px;
	white-space:nowrap;
	overflow:hidden;
	border-radius: 10px;
}

/* Message */
#msg{
	color: white;
	font-size: 30px;
	position:relative;
}

/* Millieu de page */
section{
	margin: 20px;
	display: flex;
}
h1{
	background-color:  #555;
	color: white;
	border-radius: 5px;
	padding: 5px;
	text-align:center;
}
	
/* Bloc des Articles */
article{
	background-color: #E9E9E9 ;
	border-radius: 5px;
	padding: 10px;
	margin-right: 10px;
    width: 70%;
}

/* Articles */
.art{
	background-color: white;
	border: 1px solid black;
	word-wrap: break-word;
	padding-left: 10px;
	margin: 10px;
}

.pseu{
	margin-left : 70%;
}

.imag{
	margin-left : 22%;
}

/* Bloc Bon plan */
aside{
	background-color: #E9E9E9 ;
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;
	width: 30%;
}

/* Bon plan */
.bonP{
	background-color: white;
	border: 1px solid black;
	word-wrap: break-word;
	padding-left: 10px;
	margin: 10px;
}

@media all and (max-width: 1024px) {
  #bloc_page {
    width:auto;
  }
  section{
 flex-direction: column;
}

nav ul{
	flex-direction: column;
}



}
